{% extends 'base.html' %}
{% load static %}
{% block content %}
<form action="{% url 'thanks_page' %}", method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send</button>
</form>
<br>
<img src="{% static 'img/1.jpg' %}" alt="kot-kotik", height="300">
<br>
{% if object_list %}
{% for obj in object_list %}
    <h2>{{ obj.id }}</h2>
    <h2>Дата регистрации {{ obj.order_dt }}</h2>
    <h2>Имя {{ obj.order_username }}</h2>
    <h2>номер Телефона {{ obj.order_phone }}</h2>
    <br>
{% endfor %}
{% else %}
    <h1>А данных тут как таковых-то и нет!</h1>
{% endif %}

{% endblock %}